* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
    color: #fff;
}

.container {
    width: 100%;
    height: 100vh;
    font-weight: 550;
    background-color: #390099;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.content {
    width: 520px;
    height: 400px;
    background-color: #FF0054;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-radius: 12px;
    padding: 30px;
  }

  input{
    width: 300px;
    height: ;
    border-radius: 20px;
    border: solid #FF0054;
    margin: 3px;
    padding: 10px;
  }

  

    

  .ingresar{
    background-color: #202157;
    font-size: 20px;
    font-weight: 550;
    
  }

  p{
    margin-left: 8px;
    font-size: 22px;
  }
    


